<ActionBar title="Start" class="appTitle action-bar"></ActionBar>

<ScrollView class="body">
  <StackLayout>
    <StackLayout>
      <Label class="h2 text-center" text="Informationggg"></Label>
      <Label class="h3 text-center" [text]="username"></Label>
      <Label class="h3 text-center" [text]="theme"> themes picked</Label>
      <Label class="h3 text-center" [text]="number"> images picked</Label>
    </StackLayout>
    <Button
      class="btn btn-rounded-lg"
      text="Back"
      (tap)="onBackActivity()"
    ></Button>
    <StackLayout *ngFor="let image of images; index as i">
      <ng-container *ngIf="i >= number; else showImages"></ng-container>
      <ng-template #showImages>
        <Image src="{{ image.route }}"></Image>
      </ng-template>
    </StackLayout>
  </StackLayout>
</ScrollView>
