@import '~@nativescript/theme/css/core.css';
@import '~@nativescript/theme/css/default.css';
/* @import '~@nativescript/theme/css/aqua.css';
@import '~@nativescript/theme/css/blue.css';
@import '~@nativescript/theme/css/brown.css';
@import '~@nativescript/theme/css/forest.css';
@import '~@nativescript/theme/css/grey.css';
@import '~@nativescript/theme/css/lemon.css';
@import '~@nativescript/theme/css/lime.css';
@import '~@nativescript/theme/css/orange.css';
@import '~@nativescript/theme/css/purple.css';
@import '~@nativescript/theme/css/ruby.css';
@import '~@nativescript/theme/css/sky.css'; */

.picker {
    background-color: lightgrey;
    color:black;
    border-color: grey;
    width: 200;
    height: 100;
    vertical-align: middle;
}
