<ActionBar title="Forms" class="appTitle action-bar"></ActionBar>

<ScrollView>
  <StackLayout orientation="vertical" verticalAlignment="top">
    <StackLayout orientation="vertical">
      <label class="h2 text-center" text="Introduce your name"></label>
      <TextField
        hint="Enter your name"
        class="h3"
        [(ngModel)]="username"
      ></TextField>
      <!-- <label [text]="username"></label> -->
    </StackLayout>
    <StackLayout>
      <Label class="h2 text-center" text="Images:"></Label>
     
      <ListPicker
        [items]="themes"
        class="picker"
        selectedIndex="0"
        (selectedIndexChange)="onSelectedIndexChanged($event)"
      ></ListPicker>
    </StackLayout>
    <StackLayout>
      <Label class="h2 text-center" text="Number of images:"></Label>
      <ListPicker
        [items]="images"
        class="picker"
        selectedIndex="0"
        (selectedIndexChange)="onSelectedIndexChangedIndex($event)"
      >
      </ListPicker>
    </StackLayout>
    <Button
      class="btn btn-rounded-lg"
      text="Start"
      (tap)="onClickStart()"
    ></Button>
    <Button
      class="btn btn-rounded-lg"
      text="Credits"
      (tap)="onClickCredits()"
    ></Button>
  </StackLayout>
</ScrollView>
